--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
ultralytics
fastapi
uvicorn
python-dotenv
supabase
PyJWT
pandas
requests
pydantic
httpx
jinja2
python-multipart
opencv-python-headless
annotated-types
anyio
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
deprecation
fsspec
h11
h2
hpack
httpcore
hyperframe
idna
markdown-it-py
mdurl
mmh3
multidict
packaging
postgrest
propcache
pycparser
pydantic_core
Pygments
pyiceberg
pyparsing
pyroaring
python-dateutil
realtime
rich
six
starlette
storage3
StrEnum
strictyaml
supabase-auth
supabase-functions
tenacity
typing-inspection
typing_extensions
urllib3
bcrypt
python-jose[cryptography]
websockets
yarl
zstandard
